@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); } }
@-moz-keyframes shake {
  0% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); } }
@-ms-keyframes shake {
  0% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); } }
@-o-keyframes shake {
  0% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); } }
@keyframes shake {
  0% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); } }
.sloth {
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 250px;
  margin: 10px; }

.sloth .bg {
  height: 95%;
  width: 95%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.clicked {
  background: rgba(255, 255, 255, 0.4); }

.sloth.sleepy .bg {
  background-image: url("../images/sloth-sleepy.svg"); }

.sloth.shortcut .bg {
  background-image: url("../images/sloth-shortcut.svg"); }

.shake-slow {
  -webkit-animation: shake infinite ease;
  -moz-animation: shake infinite ease;
  -ms-animation: shake infinite ease;
  -o-animation: shake infinite ease;
  animation: shake infinite ease;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s; }

.shake-fast {
  -webkit-animation: shake infinite ease;
  -moz-animation: shake infinite ease;
  -ms-animation: shake infinite ease;
  -o-animation: shake infinite ease;
  animation: shake infinite ease;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

html, body, div, span, section, header {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  color: white; }

html, body {
  flex-direction: row;
  height: 100%;
  width: 100%; }

body {
  justify-content: space-between;
  background: #706060; }

.sidebar {
  flex-direction: column;
  background: #706060;
  height: 100%;
  width: 40%;
  min-width: 300px;
  padding: 20px 30px; }

.game {
  background: #55bb22;
  height: 80%;
  width: 60%;
  border-bottom-left-radius: 10px; }

#root, .sloths {
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
