html, body, div, span, section, header {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  color: white;
}

html, body, .root, .game, .level {
  flex-direction: row;
  height: 100%;
  width: 100%;
}

body {
  background: #706060;
}

.level {
  justify-content: space-between;
}

.sidebar, .board {
  // border: 2px solid red;
}

.sidebar {
  flex-direction: column;
  background: #706060;
  height: 100%;
  width: 40%;
  min-width: 300px;
  padding: 20px 30px;
}

.board {
  flex-direction: column;
  align-content: center;
  background: #55bb22;
  height: 750px;
  width: 750px;
  min-width: 750px;
  border-bottom-left-radius: 10px;
}


.row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 120px;
  width: 100%;
}