.level {
  justify-content: space-between;
}

.sidebar, .board {
  // border: 2px solid red;
}

.sidebar {
  flex-direction: column;
  background: #706060;
  height: 100%;
  min-height: 600px;
  width: 40%;
  min-width: 400px;
  padding: 40px 40px;
  margin: 0 auto;
}

.sidebar div {
  margin: 10px 0;
}

.board {
  flex-direction: column;
  align-content: center;
  background: #60d050;
  height: 80%;
  width: 60%;
  min-width: 840px;
  border-bottom-left-radius: 10px;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
}

