html, body, div, span, section, header {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  color: white;
}

html, body, .root, .game, .level {
  flex-direction: row;
  height: 100%;
  width: 100%;
}

body {
  background: #706060;
}

.level {
  justify-content: space-between;
}

.sidebar, .board {
  // border: 2px solid red;
}

.sidebar {
  flex-direction: column;
  background: #706060;
  height: 100%;
  width: 40%;
  min-width: 300px;
  padding: 20px 30px;
}

.board {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #55bb22;
  height: 720px;
  width: 720px;
  min-width: 720px;
  border-bottom-left-radius: 10px;
}
