@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin animation-duration($str) {
  -webkit-animation-duration: #{$str};
  -moz-animation-duration: #{$str};
  -ms-animation-duration: #{$str};
  -o-animation-duration: #{$str};
  animation-duration: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

@include keyframes(shake) {
  0% {
    @include transform(rotate(30deg))
  }
  50% {
    @include transform(rotate(-30deg))
  }
  100% {
    @include transform(rotate(30deg))
  }
}

@include keyframes(shake-angry) {
  0% {
    @include transform(translate(4px, 2px))
  }
  10% {
    @include transform(translate(-2px,-4px))
  }
  20% {
    @include transform(translate(-6px,0px))
  }
  30% {
    @include transform(translate(0px,4px))
  }
  40% {
    @include transform(translate(2px,-2px))
  }
  50% {
    @include transform(translate(4px,2px))
  }
  60% {
    @include transform(translate(-2px,4px))
  }
  70% {
    @include transform(translate(-6px,2px))
  }
  80% {
    @include transform(translate(4px,-2px))
  }
  90% {
    @include transform(translate(-2px,-2px))
  }
  100% {
    @include transform(translate(2px, -4px))
  }
}


$shake-animation: 'shake infinite ease';
$shake-angry-animation: 'shake-angry infinite ease';
