@import "mixins.scss";

.sloth {
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 250px;
  margin: 10px;
}

.sloth .bg {
  height: 95%;
  width: 95%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#selected {
  background: rgba(200,200,200,.5)
}

.sloth.sleepy .bg {
  background-image: url("../images/sloth-sleepy.svg");
}

.sloth.shortcut .bg {
  background-image: url("../images/sloth-shortcut.svg");
}

.shake-slow {
  @include animation($shake-animation);
  @include animation-duration(3s);
}

.shake-fast {
  @include animation($shake-animation);
  @include animation-duration(1s);
}
